body{
background:#050505;
color:white;
font-family:tahoma;
padding:30px;
}

.login-box,
.admin-panel{
background:#111;
padding:30px;
border-radius:20px;
max-width:900px;
margin:auto;
}

input{
width:100%;
padding:12px;
margin:10px 0;
background:#222;
border:none;
color:white;
border-radius:10px;
}

button{
padding:12px 20px;
background:#d4a017;
border:none;
border-radius:10px;
cursor:pointer;
font-size:18px;
}

.stats{
display:flex;
gap:20px;
margin:20px 0;
}

.card{
flex:1;
background:#222;
padding:20px;
border-radius:15px;
text-align:center;
}

#ordersContainer{
margin-top:20px;
}

.order{
background:#222;
padding:20px;
margin:10px 0;
border-radius:15px;
}